<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
     <% if user_signed_in? %>
      <div class="greeting"> 
        <%= link_to "こんにちわ#{current_user.name}さん" , "/users/#{current_user.id}" %>
        <%= link_to "ログアウト", destroy_user_session_path , class: :greeting__link , method: :delete%>
      </div>
      <% end %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: "prototype" , collection: @prototypes %>
    </div>
  </div>

</main>
